@use "../../../styles/partials/_variables.scss" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/typography" as *;

* {
  line-height: 1.5rem;
  color: $brainflix-black;
}

.upload {
  margin: 1rem 0rem 1rem 0rem;
  border-top: 1px solid $mercury;

  &__wrapper {
    margin: 0rem 1rem 0 1rem;
  }

  &__main-heading {
    font-size: 1.5rem;
    display: flex;
    margin-top: 1rem;
    font-weight: 600;
  }

  &__form-container {
    width: 100%;
    margin-left: 1rem;
  }

  &__video-subheading {
    color: $silver;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }

  &__video-image {
    width: 100%;
    border-radius: 4px;
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }

  // &__video-form-container {
  // }

  &__form {
    min-height: 3rem;
    border-radius: 4px;
    background-color: $alabaster;
    border: 1px solid $mercury;
    height: 2.5rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0.25rem;
    color: $brainflix-black;
    background-color: $alabaster;
    @include tablet {
      width: 200%;
      min-height: 2.5rem;
    }
  }

  &__button {
    background-color: $brainflix-blue;
    border-radius: 4px;
    height: 2.5rem;
    display: flex;
    justify-content: left;

    @include desktop {
      width: 50%;
      margin-right: 1.5rem;
    }
    &:hover {
      background-color: $brainflix-darkblue;
    }
    &--cancel {
      background-color: white;
      border-radius: 4px;
      height: 2.5rem;
      display: flex;
      justify-content: left;
      margin-top: 1rem;
    }
  }

  &__button-image {
    width: 1.25rem;
    margin-left: 1rem;
  }
  &__button-text {
    color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin-left: 25%;
    &--cancel {
      color: $brainflix-blue;
      display: flex;
      flex-direction: column;
      width: 90%;
      justify-content: center;
      margin-left: 39%;
    }
  }

  &__publish-logo {
    width: 1.25rem;
    margin-left: 1rem;
  }
}
