$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Bandsite Primary Colours

$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;

// Bandsite Secondary Colours

$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;
