@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.gallery {
  @include tablet {
    margin: 1rem 0rem 0rem 1rem;
    width: 50%;
  }
  @include desktop {
    margin-right: 10rem;
    width: 40%;
  }
  &__subheading {
    color: $silver;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
  }
  &__video-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
  }
  &__video-image {
    object-fit: cover;
    max-width: 35%;
    margin: 0.5rem 0 0.5rem 1rem;
    border-radius: 4px;
    aspect-ratio: 2;
    height: 5rem;
  }
  &__video-child-container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem 0.5rem 1rem;
    gap: 0.5rem;
    justify-content: space-between;
  }
  &__video-title {
    font-weight: 600;
  }
  // &__video-author
}
