@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.video {
  margin: 0rem;

  &__inline-player-container {
    margin-top: 1rem;
    background-color: $brainflix-black;
  }

  &__inline-player {
    width: -webkit-fill-available;
    aspect-ratio: 2;
    object-fit: cover;
    @include tablet {
      margin: 0 2rem 0 2rem;
    }
    @include desktop {
      margin: 0rem 15rem 0 15rem;
    }
  }
  &__main-text {
    margin: 1rem;
    line-height: 2rem;
    @include tablet {
      margin: 2rem 2rem 0 2rem;
      font-size: xx-large;
    }
  }
  &__data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid $mercury;
    border-bottom: 1px solid $mercury;
    margin: 1rem;
    @include tablet {
      margin: 0 2rem 0 2rem;
      border-top: none;
    }
    @include desktop {
      border-bottom: 1px solid $mercury;
      padding-right: 2rem;
      margin: 0 0 0 2rem;
    }
  }

  &__credits-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
    gap: 0rem;
    width: fit-content;
    justify-content: space-between;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }
  }

  &__metrics-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 0.5rem;
    width: fit-content;
    justify-content: right;
    @include tablet {
      margin-top: auto;
      width: 14rem;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__author {
    font-weight: 600;
    color: $brainflix-black;
  }
  &__date-posted {
    color: $silver;
  }

  &__views-child-container {
    display: flex;
    flex-direction: column;
    width: 10rem;
    gap: 1rem;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      gap: 1.5rem;
    }
  }

  &__views-grand-child-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 3rem;
    @include tablet {
      padding: 0;
    }
  }
  // &__view-image
  &__view-count {
    display: flex;
    width: fit-content;
    color: $silver;
  }
  // &__like-image
  &__like-count {
    color: $silver;
  }
  &__summary-info {
    margin: 1rem;
    @include tablet {
      margin: 1rem 2rem 1rem 2rem;
    }
  }
}
